<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Test Page</title>
</head>
<body>
    <h1 th:if="${loginYn=='N'}"th:text="${title}"></h1>
    <h1 th:if="${loginYn=='Y'}"th:text="어서오세요 ${user_nickname}님"></h1>
    <p th:text="${message}"></p>
    <button onclick="location.href='/user/registerUser'">회원가입</button>
    <button th:if="${loginYn=='N'}" onclick="location.href='/user/loginUser'">로그인</button>
    <button th:if="${loginYn=='Y'}" onclick="location.href='/user/goMypage'">마이페이지</button>
    <button onclick="location.href='/user/registerUser'">ChatFit</button>
</body>
</html>