@charset "UTF-8";
/* 전체 레이아웃
---------------------*/
#main{
	width:1024px;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#6C6C6C;
}
/* 페이지 레이아웃
---------------------*/
.page-main{
	width:98%;
	margin:0 auto;
}
.page-one{
	width:600px;
	margin:0 auto;
}
/* 공통 메시지
---------------------*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
}
.error-color{
	color:#ff0000;
}
/* 공통 정렬
---------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}

/* 상단 메뉴
---------------------*/
div#main_menu li{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
}
/* 메인
---------------------*/
.image-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:220px;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.image-space .horizontal-area img{
	width:215px;
	height:195px;
}
.image-space .float-clear{
	clear:both;
}
/* 공통 등록, 수정 폼
---------------------*/
form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 30px 10px;
}
form ul li label{
	width:110px;
	display:inline-block;
}
ul {
	list-style:none;
}
input,select{
	margin-top:4px;
	padding:5px;
}
input[type="text"],input[type="password"],
                                     input[type="email"]{
	width:350px;	
}